* {

    margin: 0px;
    padding: 0px;
    
    }

    .Todocorpo {

        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
    
    }

    body{ 
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
    }
    
    
    .carrinho {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
    }
    
    .Continuar {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
    }
    
    .Continuar a {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
      
    }
    
    .Cancelar {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
    }
    
    .Cancelar a {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 500px;
        background-color: white;
      
    }